@charset "utf-8";

/* global */

body {
	background-color: #FAD044;
	font-family: "Hiragino Sans";
	color: #241D05;
}

#wrapper {
	max-width: 414px;
	margin: 0 auto;
	text-align: center;
	overflow: hidden;
}

header {
	margin: 40px auto;
}

section .bgDeg {
	background-color: #DBB63C;
	margin: 0 0 50px 0;
	text-align: left;
	width: 110%;
	position: relative;
	left: -20px;
	transform: rotate(-7.3deg);
}

section .bgDeg div {
	padding: 30px 0 0 50px;
	position: relative;
	top: 5px;
	transform: rotate(7.3deg);
}

@media screen and (max-width: 414px) {
	section .bgDeg div {
		top: calc(-28px + 100vw * 0.08);
	}
}

section .bgDeg h2 {
	font-size: 22px;
}

section .bgDeg p {
	font-size: 13px;
}


/* header */

header img {
	transform: rotate(-7.3deg);
	width: 220px;
}


/* #business */

#business {
	margin: 0 0 40px 0;
}

#business .ss img {
	width: 260px;
	filter: drop-shadow(0 5px 3px rgba(0, 0, 0, 0.3));
	margin: 0 0 20px 0;
}

#business .logo img {
	width: 180px;
	margin: 0 0 20px 0;
	transform: rotate(-7.3deg);
}

#business .tagLine {
	font-weight: 800;
	font-size: 28px;
}

#business .tagLine em {
	color: #FA4444;
	font-style: normal;
}

.meeet {
	animation-name: fadeIn;
	animation-duration: 1s;
	animation-delay: 0.3s;
	position: relative;
}

@keyframes fadeIn {
	0% {
		opacity: 0;
		top: 30px;
	}
	100% {
		opacity: 1;
		top: 0;
	}
}


/* #member */

#member {
    margin: 0 0 8px 0;
	text-align: left;
}

#member dl {
	display: flex;
    flex-wrap: wrap;
    align-items: center;
	padding: 0 32px;
}

#member dl dt {
	width: 30%;
	margin: 0 0 12px 0;
}

#member dl dd {
    width: 70%;
    margin: 0 0 12px 0;
}

#member dl dt:hover {
	filter: grayscale(100%);
}

#member dl dt img {
	width: 85%;
	border-radius: 50%;
	margin: 0 12px 0 0;
}

#member dl dd .name {
	font-size: 18px;
	font-weight: 600;
}

#member dl dd .tw a {
	font-size: 14px;
	color: #828282;
}

#member dl dd .tw a:hover {
	color: #241D05;
	text-decoration: none;
}


/* #about */

#about {
	padding: 0;
}

#about dl {
	padding: 0 0 0 32px;
	text-align: left;
	display: flex;
    flex-wrap: wrap;
	font-size: 14px;
}

#about dt {
	margin: 0 0 8px 0;
	width: 25%;
	font-weight: 600;
}

#about dd {
	margin: 0 0 8px 0;
	width: 75%;
}


/* footer */

footer {
	background-color: #DBB63C;
	transform: rotate(-7.3deg);
	position: relative;
	width: 110%;
	left: -20px;
	top: 30px;
}

footer p {
	font-size: 10px;
	padding: 30px 0 50px 0;
	font-weight: 600;
	transform: rotate(7.3deg);
}